* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  user-select: none;
  font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
  touch-action: none;

  & .title-bar,
  & .window,
  & button,
  & input,
  & label,
  & option,
  & select,
  & table,
  & textarea,
  & ul.tree-view {
    -webkit-font-smoothing: inherit !important;
  }
}

a {
  /* color: inherit; */
  text-decoration: none;
}

:root {
  --taskbar-height: 32px;
}

.theme-windows7 {
  --taskbar-height: 40px;
  --taskbar-bg-color: #1c1c1c;
  --taskbar-text-color: #ffffff;
  --window-bg-color: #f0f0f0;
  --window-border-color: #a0a0a0;
  --button-bg-color: #e0e0e0;
  --button-border-color: #707070;
  --button-text-color: #000000;
}

.theme-macos9 {
  --taskbar-height: 22px;
  --window-border-color: #c0c0c0;
  --window-background-color: #e0e0e0;
  --button-background-color: #d0d0d0;
  --button-border-color: #808080;
  --button-text-color: #000000;
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}
