* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  user-select: none;
  font-family: "Pixelated MS Sans Serif", Arial, sans-serif;

  & .title-bar,
  & .window,
  & button,
  & input,
  & label,
  & option,
  & select,
  & table,
  & textarea,
  & ul.tree-view {
    -webkit-font-smoothing: inherit !important;
  }
}

a {
  /* color: inherit; */
  text-decoration: none;
}

/* Conditional XP theme styles */
body.xp-theme {
  background-color: #C0C0C0;
}

.window.xp-theme, .title-bar.xp-theme {
  border: 2px solid #0A246A;
  background-color: #C0C0C0;
}

.title-bar.xp-theme {
  background-color: #0A246A;
  color: white;
}

.button.xp-theme {
  border: 1px solid #0A246A;
  background-color: #C0C0C0;
  color: black;
}

.button.xp-theme:hover {
  border-color: #1C64F2;
  background-color: #E8E8E8;
}
