.jiggle {
  animation: jiggleAnimation 15s infinite;
}

@keyframes jiggleAnimation {
  0%,
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: rotateX(5deg) rotateY(5deg) rotateZ(5deg);
  }
  50% {
    transform: rotateX(-5deg) rotateY(-5deg) rotateZ(-5deg);
  }
  75% {
    transform: rotateX(5deg) rotateY(5deg) rotateZ(5deg);
  }
}

.title {
  display: flex;

  flex-direction: row;
  align-items: center;
  gap: 4px;
}
